
<h1><%= form_type %> User</h1>

<%= simple_form_for @user, :html => { :class => "stacked form", :id => "#{form_type}_user_form",:multipart => true } do |f| %>
	<%= f.simple_fields_for :profile do | pf | %>
	
		<%= render :partial => 'accountable/profile/profile_form', :locals => {:f => pf,:pf_names => @pf_names,:new_profile => f.object.new_record?} %>

	<% end %>

	<div class="form-row">
	<%= f.input :email, :label => 'Email Address',:wrapper_html => { :class => 'form-item long' }, :label_html => { :class => 'form-label' } %>
	</div>
	
	<div class="form-actions">
		<p><%= f.button :submit, "#{form_type} User", :class => 'btn form-btn' %></p>
	</div>
	
<% end %>
