
<div class="input">
<%= f.label :email, "Email Address" %>
<%= f.text_field :email, :default => user.email %>
</div>

<div class="input">
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<div class="input">
<%= f.label :password_confirmation, 'Password Confirmation' %>
<%= f.password_field :password_confirmation %>
</div>