<%= f.fields_for @user do | uf |%>

	<%= uf.fields_for :profile do | pf | %>
	
		<%= render :partial => 'profile/profile_form', :locals => {:f => pf,:pf_names => @upf_names,:new_profile => f.object.new_record?} %>

	<% end %>
	<div class="input">
	<%= uf.label :email, "Email Address" %>
 	<%= uf.text_field :email %>
	</div>
<% end %>
