<div class="topbar">
	<div class="fill">
		<div class="container">
			<p class="brand">Accounts Admin</p>
			<ul class="nav">
				<li<%= @body_id == "home" ? " class='active'" : "" %>><a href="/">Home</a></li>
				
				<% if signed_in? %>
					<li<%= @body_id == "users" ? " class='active'" : "" %>><a href="/users">Users</a></li>
					<li<%= @body_id == "cards" ? " class='active'" : "" %>><a href="/cards">Cards</a></li>
					<li<%= @body_id == "case-studies" ? " class='active'" : "" %>><a href="/case-studies">Case Studies</a></li>
				<% end %>
			</ul>
			<div class="pull-right">
				<% if signed_in? %>
					<%= link_to "admin", "/"  if current_user.role? :god %>
					<%= "Signed in as #{current_user.name}" %>
					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<%= link_to "New Account", new_account_path %>
					<%= link_to "Sign In", new_user_session_path, :class => 'btn' %>
				<% end %>
			</div>
		</div>
	</div>
</div>