
<div class="form-row">
<%= f.input :name,:wrapper_html => { :class => 'form-item long' }, :label_html => { :class => 'form-label' } %>
</div>

<%= f.simple_fields_for :photo do | fcf | %>
<%= render :partial => 'assets/forms/image_form', :locals => {:f => fcf,:show_title_descr => false,:editable => true,:deletable => false } %>     
<% end %>

<section class="profile-attribute-fields">
	<%= f.simple_fields_for :active_fields do | af | %>
			<%= render :partial => 'accountable/profile/active_fields', :locals => {:f => af,:pf_names => pf_names} %>
	<% end %>
</section>

